{% extends 'layout/basic.html' %}
{% load static %}

{% block content %}
    <section class="content-header">
        <h1>
            考卷
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li class="active">考卷</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="margin-bottom">
            <a class="btn btn-primary" href="{% url 'quiz:quiz_create' %}">新建考卷</a>
        </div>
        <div class="nav-tabs-custom">

            <div class="tab-content">

                <div class="tab-pane active" id="shared_quiz">
                    <table class="table table-responsive" id="quiz_shared_to_me_table">
                        <thead>
                        <tr>
                            <th>描述</th>
                            <th>书本</th>
                            <th>单元</th>
                            <th>课次</th>
                            <th>题目数量</th>
                            <th>总时间</th>
                            <th>单个时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for quiz in quiz_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'quiz:quiz_start' quiz.id %}">{{ quiz.description }}</a>
                                </td>
                                <td>{{ quiz.book }}</td>
                                <td>{{ quiz.unit }}</td>
                                <td>{{ quiz.lesson }}</td>
                                <td>{{ quiz.amount }}</td>
                                <td>{{ quiz.max_total_time }}</td>
                                <td>{{ quiz.max_word_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
