@charset "UTF-8";

body{
	font-size:12px;
	font-family: "Osaka", "ヒラギノ角ゴ W3", "ＭＳ Ｐゴシック", palatino;
	color: #333333;
}

body.{
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

input.solid{ border: 1px solid #808080; }

a.white:link	{ color: #ffffff; }
a.white:visited	{ color: #ffffff; }
a.white:hover	{ color: #6CE89E; }
a.white:active	{ color: #6CE89E; }

table.table-simple-list{
	margin-left:20px;
	border:#000 solid 1px;
	border-collapse:collapse;
	align:center;
	margin: 2px 1px;
	width:95%
}

table.table-simple-list th{
	border:#000 solid 1px;
	padding:3px;
}

table.table-simple-list th.proTitle{
	background-color: #666666;
	border:#000 solid 1px;
	padding:3px;
	font-weight:bold;
	color:#ffffff;
}

table.table-simple-list td{
	border:#000 solid 1px;
	padding:2px;
}

table.table-count-list{
	margin-left:20px;
	border:#000 solid 1px;
	border-collapse:collapse;
	margin: 2px 1px;
	width:270px;
}

table.table-count-list th{
	border:#000 solid 1px;
	line-height: 150%;
}

table.table-count-list th.proTitle{
	background-color: #666666;
	border:#000 solid 1px;
	padding:3px;
	font-weight:bold;
	color:#ffffff;
}

table.table-count-list td.count{
	background-color: #EBEBEB;
	border:#000 solid 1px;
	padding:2px;
	vertical-align:center;
	font-weight:bold;
}

table.table-count-list td.v-center{
	background-color: #EBEBEB;
	border:#000 solid 1px;
	padding:2px;
	vertical-align:center;
}

table.table-count-list td.num{
	border:#000 solid 1px;
	padding:2px;
	text-align:right;
	vertical-align:text-bottom;
}

img.img-simple-list{
	margin-left:20px;
}

table{
	align:left;
}

th{
	font-size:12px;
	font-family: "Osaka", "ヒラギノ角ゴ W3", "ＭＳ Ｐゴシック", palatino;
	background-color: #999999;
	text-align: left;
	color: #000;
}

td{
	font-size:12px;
	font-family: "Osaka", "ヒラギノ角ゴ W3", "ＭＳ Ｐゴシック", palatino;
	vertical-align:top;
}

hr.dot{
	border-style:dotted;
	color:#CCCCCC;
/*	border:dotted grey;*/
}
}

td.v-center{
	vertical-align:center;
}
td.num{
	text-align:right;
	vertical-align:text-bottom;
}

.head_title {
	font-size: 26px;
/*	font-weight:bold; */
	color:#FFFFFF;
	line-height: 130%;
}

.head_subtitle {
	font-size: 20px;
	color:#FFFFFF;
	line-height: 130%;
}

.head_subtitle02 {
	font-size: 14px;
	color:#FFFFFF;
	line-height: 180%;
	margin-left:10px;
}

.flow_subtitle {
	background-color:#afd7ff;
	border-bottom:1px solid #999999;
	font-size: 16px;
	padding:3px;
	font-weight:bold;
}

.head_subtitle_02 {
/*	border-bottom:1px solid #047391;*/
	color: #047391;
	font-size: 20px;
	line-height: 200%;
	padding:2px;
	font-weight:bold;
}

.head_subtitle_02_02 {
/*	border-bottom:1px solid #047391;*/
	color: #047391;
	font-size: 14px;
	line-height: 150%;
	padding:1px;
	font-weight:bold;
}

.head_subtitle_03 {
/*	border-bottom:1px solid #999999;*/
	font-size: 16px;
	padding:3px;
	font-weight:bold;
}


.title_base {
	background-color:#555555;
/*	border-bottom:1px solid #999999;*/
	font-size: 22px;
	line-height: 200%;
	color: #ffffff;
	padding:3px;
	font-weight:bold;
}

.title_base02 {
	font-size: 20px;
	line-height: 200%;
	padding:3px;
	font-weight:bold;
}

.title_base_index {
/*	border-bottom:1px solid #333333;*/
	font-size: 20px;
	line-height: 200%;
	padding:3px;
	font-weight:bold;
}

.title_base_index02 {
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
	padding:5px;
	font-weight:bold;
}

.title_flow_index {
	background-color:#EBEBEB; 
	font-size: 14px;
	line-height: 150%;
	padding:3px;
	font-weight:bold;
}

.title_flow_number {
	font-size: 20px;
	color: #ffffff;
	padding:3px;
	font-weight:bold;
}

.title_flow {
	border-bottom:1px solid #047391;
	font-size: 20px;
	padding:3px;
	color: #047391;
	font-weight:bold;
}

.title_flow02 {
	font-size: 18px;
	padding:3px;
	color: #047391;
	font-weight:bold;
}

.title_flow_component {
	font-size: 20px;
	color: #31abb9;
	line-height: 150%;
	padding:3px;
	font-weight:bold;
}

.title_flow_component_subtitle {
	color: #31abb9;
	font-size: 16px;
	padding:3px;
}

.title_flow_component_subtitle02 {
	color: #179dc1;
	font-size: 14px;
	padding:1px;
	font-weight:bold;
}

.title_flow_mappler_title{
	margin-left:20px;
	color: #666666;
	font-size: 16px;
	padding:3px;
	font-weight:bold;
}

.title_flow_mappler_pp{
	margin-left:20px;
	color: #666666;
	font-size: 14px;
	padding:3px;
}

.side_menu {
	color: #666666;
	font-size: 10px;
	line-height: 15px;
	text-decoration: none;
}

caption {
	text-align:left;
	color: #666666;
	font-size: 14px;
	line-height: 25px;
	font-weight:bold;
}

#pagebody {
	width:770px;
	margin-right:auto;
}

#navi_menu {
	background-color:#EFEFEF;
	padding:4px 0px 0px 4px;
	width:200px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
/*	float:left;*/
}

#main_wrap {
/*	width:570px;*/
	margin-left:10px;
	margin-right:10px;
	margin-top:4px;
	margin-bottom:4px;
/*	float:right;*/
}

#main {
	background-color:#FFFFFF;
}

/* メインページのコンテンツ */

#main h1 {
	margin:1px 0 0;
	background-color:#DDDDDD;
	height:32px;
	font-size:140%;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	padding:30px 22px 0;
	color:#000;
}

/*ページのトップへ*/
#main p.toPagetop {
	clear:both;
	margin:25px 0px 25px 476px;
	margin-bottom:25px;
}

#main p.toPagetop a {
	display:block;
	width:94px;
	height:14px;
	background:url(../img/btn_pagetop.gif) no-repeat;
	text-indent:-5000px;
	text-decoration:none;
}

/* ナビゲーションメニューのコンテンツ */

#navi_menu h1 {
	margin:0px 0px 0px 0px;
	background-color:#179DC1;
	height:32px;
	font-size:140%;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	padding:10px 10px 4px 10px;
}

#navi_menu h2 {
	margin:10px 0px 0px 0px;
	background-color:#DFF8FF;
	border-left:#888888 solid 5px;
	border-bottom:#888888 solid 3px;
	height:24px;
	font-size:120%;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	padding:10px 10px 4px 10px;
}

#navi_menu ul li{
	margin:0px 0px 5px -35px;
	background-color:#DEDEDE;
	border-bottom:#888888 solid 1px;
	font-size:100%;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	padding:0px 0px 0px 0px;
	list-style-type:none;
}

#navi_menu li a {
	display:block;
	padding:2px 7px;
}

#navi_menu dl {
	margin:5px 0px 5px 5px;
	background-color:#DEDEDE;
	border-bottom:#888888 solid 1px;
	font-size:100%;
	font-family: Arial, Helvetica, sans-serif, Verdana;
	padding:3px 0px 3px 0px;
	word-break:break-all;
}

#navi_menu dl a {
	display:block;
}

#navi_menu dt {
	margin:0px 0px 0px 5px;
	font-size:100%;
}

#navi_menu dd {
	margin:0px 0px 0px 10px;
	font-size:84%;
	border-bottom:none;
}

