{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">
    <style>
        .word-list .number {
            width: 100px;
            text-align: right;
        }

        .word-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .word-list .word .tags {
            padding: 10px 0;
        }

        .word-list .word .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .word-list .word .tags .type {
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
            background-color: #dddddd;
        }

        .editormd {
            margin-bottom: 0;
        }

        .pd-0 {
            padding: 0 !important;
        }

        /* 筛选 */
        .filter-area .item {
            margin-bottom: 15px;
        }

        .filter-area .item .title {
            padding: 5px 0;
        }

        .filter-area .item .check-list a {
            text-decoration: none;
            display: inline-block;
            min-width: 65px;
        }

        .filter-area .item .check-list label {
            font-weight: 200;
            font-size: 13px;
            margin-left: 3px;
        }

        .filter-area .item .check-list a:hover {
            font-weight: 300;
        }

        .filter-area .item .check-list .cell {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i> Menu
                </div>
                <div class="panel-body filter-area">
                    {% for row in filter_list %}
                        <div class="item">
                            <div class="title">{{ row.title }}</div>
                            <div class="check-list">
                                {% for item in row.filter %}
                                    {{ item }}1
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-filter" aria-hidden="true"></i> 快速筛选
                    </div>
                    <div class="panel-body">
                        <div class="search-group">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="bookSelect"> </label>
                                    <select class="form-control" id="bookSelect" name="book_name"
                                            onchange=changeUnit()></select>
                                    <label for="unitSelect"></label>
                                    <select class="form-control" id="unitSelect" name="unit" onchange=changeLesson()
                                            style="display: none">
                                    </select>

                                    <label for="lessonSelect"></label>
                                    <select class="form-control" id="lessonSelect" name="lesson"
                                            style="display: none">
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-default" style="margin-bottom: 5px">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="bs-example" data-example-id="hoverable-table">
                    <table class="table">
                        <tbody class="word-list">
                        <thead>
                        <tr>
                            <th>book_name</th>
                            <th>Unit</th>
                            <th>class</th>
                            <th>word</th>
                            <th>symbol</th>
                            <th>voice</th>
                            <th>cn</th>
                            <th>word_type</th>
                            <th>sentence</th>
                        </tr>
                        </thead>
                        {% for word in word_object_list %}
                            <tr>
                                <td>{{ word.book_name }}</td>
                                <td>{{ word.unit }}</td>
                                <td>{{ word.classes }}</td>
                                <td>{{ word.word }}</td>
                                <td>{{ word.symbol }}</td>
                                <td>VOICE</td>
                                <td>{{ word.cn }}</td>
                                <td>{{ word.word_type }}</td>
                                <td>{{ word.sentence }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <nav aria-label="...">
                <ul class="pagination" style="margin-top: 0;">
                    {{ page_html|safe }}
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        var dic = {{ word_group|safe }};
        var selectedValue = {{ query_params |safe}};
        $('#unitSelect').val(selectedValue.unit);
        $('#lessonSelect').val(selectedValue.lesson);
        var obj1 = document.getElementById('bookSelect');
        var obj2 = document.getElementById('unitSelect');
        var obj3 = document.getElementById('lessonSelect');
        obj1.options.add(new Option('请选择课本', -1));
        for (var key in dic) {
            obj1.options.add(new Option(dic[key].name, dic[key].name));
        }
        for (var i = 0; i < obj1.options.length; i++) {
            if (obj1.options[i].value == selectedValue.book_name) {
                obj1.options[i].selected = 'selected';
                changeUnit()
                break;
            }
        }
        for (var i = 0; i < obj2.options.length; i++) {
            if (obj2.options[i].value == selectedValue.unit) {
                obj2.options[i].selected = 'selected';
                changeLesson();
                break;
            }
        }
        for (var i = 0; i < obj3.options.length; i++) {
            if (obj3.options[i].value == selectedValue.lesson) {
                obj3.options[i].selected = 'selected';
                break;
            }
        }


        function changeUnit() {
            var myselect = document.getElementById("bookSelect");
            var selectedIndex = myselect.options.selectedIndex; // selectedIndex代表的是你所选中项的index
            var bookValue = myselect.options[selectedIndex].value;
            if (bookValue != -1) {
                var units = dic[bookValue]['unit'];
            }
            if (bookValue == -1) {
                $('#unitSelect').hide();
            } else {
                $('#unitSelect').show()
            }
            $('#lessonSelect').hide();
            obj2.options.length = 0;
            obj3.options.length = 0;
            obj2.options.add(new Option('请选择单元', -1));
            obj3.options.add(new Option('请选择课次', -1));
            for (var key in units) {
                obj2.options.add(new Option(`第${key}单元`, key))
            }
        }

        function changeLesson() {
            var bookSelect = document.getElementById("bookSelect");
            var selectedIndex = bookSelect.options.selectedIndex; // selectedIndex代表的是你所选中项的index
            var bookValue = bookSelect.options[selectedIndex].value;
            var unitSelect = document.getElementById("unitSelect");
            var selectedIndex = unitSelect.options.selectedIndex; // selectedIndex代表的是你所选中项的index
            var unitValue = unitSelect.options[selectedIndex].value;
            var lessons = dic[bookValue]['unit'][unitValue];
            obj3.options.length = 0;
            obj3.options.add(new Option('请选择课次', -1));
            if (unitValue == -1) {
                $('#lessonSelect').hide();
            } else {
                $('#lessonSelect').show()
            }
            if (unitValue != -1) {
                for (j = 0, len = lessons.length; j < len; j++) {
                    obj3.options.add(new Option(`第${lessons[j]}课`, lessons[j]))
                }
            }
        }
    </script>
{% endblock %}