{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">
    <style>
        .word-list .number {
            width: 100px;
            text-align: right;
        }

        .word-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .word-list .word .tags {
            padding: 10px 0;
        }

        .word-list .word .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .word-list .word .tags .type {
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
            background-color: #dddddd;
        }

        .editormd {
            margin-bottom: 0;
        }

        .pd-0 {
            padding: 0 !important;
        }

        /* 筛选 */
        .filter-area .item {
            margin-bottom: 15px;
        }

        .filter-area .item .title {
            padding: 5px 0;
        }

        .filter-area .item .check-list a {
            text-decoration: none;
            display: inline-block;
            min-width: 65px;
        }

        .filter-area .item .check-list label {
            font-weight: 200;
            font-size: 13px;
            margin-left: 3px;
        }

        .filter-area .item .check-list a:hover {
            font-weight: 300;
        }

        .filter-area .item .check-list .cell {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i> 筛选
                </div>
                <div class="panel-body filter-area">
                    {% for row in filter_list %}
                        <div class="item">
                            <div class="title">{{ row.title }}</div>
                            <div class="check-list">
                                {% for item in row.filter %}
                                    {{ item }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                {#                <div class="panel-heading">#}
                {#                    <i class="fa fa-quora" aria-hidden="true"></i> 问题#}
                {#                </div>#}
                {#                                <div class="panel-body">#}
                {#                                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">新建问题</a>#}
                {#                                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModal">邀请成员</a>#}
                {#                                </div>#}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-filter" aria-hidden="true"></i> 快速筛选
                    </div>
                    <div class="panel-body">
                        <div class="search-group">
                            <label>
                                <select class="form-control">

                                </select>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="bs-example" data-example-id="hoverable-table">
                    <table class="table">
                        <tbody class="word-list">
                        <thead>
                        <tr>
                            <th>book_name</th>
                            <th>Unit</th>
                            <th>class</th>
                            <th>word</th>
                            <th>symbol</th>
                            <th>voice</th>
                            <th>cn</th>
                            <th>word_type</th>
                            <th>sentence</th>
                        </tr>
                        </thead>
                        {% for word in word_object_list %}
                            <tr>
                                <td>{{ word.book_name }}</td>
                                <td>{{ word.unit }}</td>
                                <td>{{ word.classes }}</td>
                                <td>{{ word.word }}</td>
                                <td>{{ word.symbol }}</td>
                                <td>VOICE</td>
                                <td>{{ word.cn }}</td>
                                <td>{{ word.word_type }}</td>
                                <td>{{ word.sentence }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <nav aria-label="...">
                <ul class="pagination" style="margin-top: 0;">
                    {{ page_html|safe }}
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}